<header class="main-header">
    <div class="container header-container-new">
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'oficial/images/LOGO_BOMBRIL.png' %}" alt="Logotipo Bombril">
        </a>

        <div class="header-menu-wrapper">
            <nav class="main-nav">
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">INICIO</a></li>
                    <li><a href="{% url 'como_participar' %}">COMO PARTICIPAR</a></li>
                    <li><a href="{% url 'lista_produtos' %}">PRODUTOS</a></li>
                     <li><a href="{% url 'regulamento' %}">REGULAMENTO</a></li>
                    <li><a href="{% url 'resultados' %}">RESULTADOS</a></li>
                    <li><a href="{% url 'faq' %}">DÚVIDAS</a></li>
                    <li class="nav-button-item">
                        <a href="{% url 'participe' %}" class="btn btn-primary">PARTICIPE</a>
                    </li>
                </ul>
            </nav>

            <a href="#" class="btn btn-secondary">
                <i class="fa-solid fa-circle-user"></i> LOGIN
            </a>
        </div>

        <button class="hamburger-menu" aria-label="Abrir Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>