{% extends 'base_index_responsive.html' %}
{% load static %}

{% block content %}

<div class="topo" role="img" aria-label="Topo do site">
    <div class="inner">
      <h1 class="topo-title">Sorteios e Resultados</h1>
      <img src="{% static 'responsive/images/ROBOM-BRIL_NAVE.png' %}" alt="" class="topo-robot" aria-hidden="true" />
    </div>
  </div>

  <section class="page-content faq-section section-up-interna">
    <div class="container">
        <h1 class="custom-title text-bombril-red text-center">Sorteios e Resultados</h1>



        <div class="accordion">

            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 20 de Agosto
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 23 de Agosto
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 27 de Agosto
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 30 de Agosto
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 03 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 06 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 10 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 13 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 17 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 20 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 24 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 27 de Setembro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 01 de Outubro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 04 de Outubro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 08 de Outubro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 11 de Outubro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 15 de Outubro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-header">
                    Sorteio 18 de Outubro
                    <span class="accordion-icon"></span>
                </button>
                <div class="accordion-content">
                    <div class="accordion-body">
                        <p>Não Apurado</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </section>

{% endblock %}
