{% extends 'base_index.html' %}
{% load static %}


{% block content %}


<section class="page-content">
  <div class="container">
    <h1 class="custom-title text-center text-bombril-red">Produtos Participantes</h1>
    <p class="subtitulo-participar">Adquira 3 ou mais produtos de qualquer uma das marcas abaixo para participar.
    </p>

    <div class="lista-produtos-completa">
      <ul>
        <li>AMAC CONC MON BIJOU 500ML BLUE</li>
        <li>AMAC CONC MON BIJOU 500ML GOLD</li>
        <li>AMAC CONC MON BIJOU 500ML LIRIO</li>
        <li>AMAC CONC MON BIJOU 500ML MIST</li>
        <li>AMAC CONC MON BIJOU 500ML ROSE</li>
        <li>AMAC CONC MON BIJOU 900ML BLUE</li>
        <li>AMAC CONC MON BIJOU 900ML GOLD</li>
        <li>AMAC CONC MON BIJOU 900ML LIRIO</li>
        <li>AMAC CONC MON BIJOU 900ML MIST</li>
        <li>AMAC CONC MON BIJOU 900ML ROSE</li>
        <li>AMAC MON BIJOU 1,7L CUIDADO</li>
        <li>AMAC MON BIJOU 1.7L CLASSICO</li>
        <li>AMAC MON BIJOU 1.7L GLICERINA</li>
        <li>AMAC MON BIJOU 1.7L TURQUESA</li>
        <li>AMAC MON BIJOU 2L BLACK</li>
        <li>AMAC MON BIJOU 2L CLASSICO</li>
        <li>AMAC MON BIJOU 2L GLICERINA</li>
        <li>AMAC MON BIJOU 2L MAGIA</li>
        <li>AMAC MON BIJOU 2L PUREZA</li>
        <li>AMAC MON BIJOU 2L TURQUESA</li>
        <li>AMAC MON BIJOU 5L CLASSICO</li>
        <li>AMAC MON BIJOU 5L MAGIA</li>
        <li>AMAC MON BIJOU 5L TURQUESA</li>
        <li>AMAC ROUPA MON BIJOU 500ML BB</li>
        <li>DETERGENTE EM PO ASSIM 1KG</li>
        <li>DETERGENTE EM PO ASSIM 2KG</li>
        <li>DETERGENTE EM PO ASSIM 400GR</li>
        <li>DETERGENTE EM PO ASSIM 5KG</li>
        <li>DETERGENTE EM PO ASSIM 800G</li>
        <li>LAVA ROUPA LIQ ASSIM 1L</li>
        <li>LAVA ROUPA LIQ ASSIM 3L</li>
        <li>LAVA ROUPA LIQ ASSIM 500ML</li>
        <li>LAVA ROUPA LIQ ASSIM 5L</li>
        <li>LAVA ROUPAS LIQ MON BIJOU 1L</li>
        <li>LAVA ROUPAS LIQ MON BIJOU 3L</li>
        <li>LIMPADOR PERF PRATICE 500ML</li>
        <li>LIMPADOR PRATICE 1L</li>
        <li>LIMPADOR PRATICE 500ML</li>
        <li>LIMPOL 500ML CRISTAL</li>
        <li>LIMPOL 500ML CRISTAL C/GLICER</li>
        <li>LIMPOL 500ML MAÇA</li>
        <li>LIMPOL 500ML NEUTRO</li>
        <li>SAPOLIO RADIUM 250GR</li>
        <li>SAPOLIO RADIUM 450ML</li>
        <li>PALHA DE ACO BOMBRIL</li>
        <li>DESINFETANTE PINHO BRIL 500ML</li>
        <li>DETERGENTE EM PO ASSIM 1 KG</li>
        <li>LAVA ROUPAS LIQUIDO ASSIM 3 L</li>
        <li>AMACIANTE CONCENTRADO MON BIJOU 500 ML</li>
        <li>AMACIANTE MON BIJOU 2 L</li>
        <li>LAVA ROUPAS LIQUIDO MON BIJOU 1 L</li>
        <li>DETERGENTE LIMPOL 500 ML</li>
        <li>ESPONJA BOMBRIL MULTIUSO</li>
        <li>LAVA ROUPAS PO ASSIM 800 G</li>
        <li>DESINFETANTE PINHO BRIL 500 ML</li>
        <li>LIMPADOR MULTIUSO PRATICE 500 ML</li>
        <li>AMACIANTE MON BIJOU 5 L</li>
        <li>SAPOLIO RADIUM 250 G</li>
        <li>LAVA ROUPAS LIQUIDO ASSIM 5 L</li>
        <li>DETERGENTE EM PO TIRA MANCHAS ASSIM 400 G</li>
        <li>LAVA ROUPAS LIQUIDO ASSIM 500 ML</li>
        <li>AMACIANTE CONCENTRADO MON BIJOU 900 ML</li>
        <li>AMACIANTE MON BIJOU 1,7 L</li>
        <li>LAVA ROUPAS LIQUIDO MON BIJOU 3 L</li>
        <li>AMACIANTE ROUPAS BEBE MON BIJOU 500 ML</li>
        <li>LIMPADOR PERFUMADO PRATICE 500 ML</li>
        <li>DETERGENTE LIMPOL GLICERINA 500 ML</li>
        <li>LIMPADOR MULTIUSO PRATICE 1 L</li>
        <li>SAPOLIO RADIUM CREMOSO 450 ML</li>
        <li>DETERGENTE EM PO ASSIM 2 KG</li>
        <li>DETERGENTE EM PO ASSIM 5 KG</li>
        <li>AMACIANTE MON BIJOU CLÁSSICO 2L</li>
        <li>LAVA ROUPAS LÍQUIDO ASSIM 3L</li>
        <li>DETERGENTE LÍQUIDO LIMPOL NEUTRO 500ML</li>
        <li>ESPONJA DE LÃ DE AÇO BOMBRIL 60G</li>
        <li>AMACIANTE DE ROUPAS MON BIJOU PUREZA 2L</li>
        <li>SÁPOLIO RADIUM LÍQUIDO CREMOSO 450ML</li>
        <li>LAVA ROUPAS EM PÓ ASSIM 800G</li>
        <li>DESINFETANTE PINHO BRIL PLUS 500ML</li>
        <li>LIMPADOR MULTIUSO PRATICE ORIGINAL 500ML</li>
        <li>LAVA ROUPAS LÍQUIDO MON BIJOU 1L</li>
        <li>DETERGENTE LÍQUIDO LIMPOL MAÇÃ 500ML</li>
        <li>AMACIANTE CONCENTRADO MON BIJOU 500ML</li>
        <li>AMACIANTE MON BIJOU MAGIA 2L</li>
        <li>LAVA ROUPAS EM PÓ ASSIM 1KG</li>
        <li>AMACIANTE MON BIJOU TURQUESA 2L</li>
        <li>LAVA ROUPAS EM PÓ TIRA MANCHAS ASSIM 400G</li>
        <li>AMACIANTE MON BIJOU GLICERINA E AMENDOA 2L</li>
        <li>LAVA ROUPAS LÍQUIDO ASSIM 5L</li>
        <li>LAVA ROUPAS LÍQUIDO ASSIM 1L</li>
        <li>AMACIANTE MON BIJOU 5L</li>
        <li>DETERGENTE LÍQUIDO LIMPOL CRISTAL 500ML</li>
        <li>DETERGENTE EM PÓ ASSIM 1 KG</li>
        <li>LAVA-ROUPAS LÍQUIDO ASSIM 3 L</li>
        <li>AMACIANTE CONCENTRADO MON BIJOU 500 ML</li>
        <li>AMACIANTE MON BIJOU 2 L</li>
        <li>LAVA-ROUPAS LÍQUIDO MON BIJOU 1 L</li>
        <li>DETERGENTE LIMPOL 500 ML</li>
        <li>ESPONJA BOMBRIL MULTIUSO</li>
        <li>LAVA-ROUPAS EM PÓ ASSIM 800 G</li>
        <li>DESINFETANTE PINHO BRIL 500 ML</li>
        <li>LIMPADOR MULTIUSO PRATICE 500 ML</li>
        <li>AMACIANTE MON BIJOU 5 L</li>
        <li>SAPÓLIO RADIUM 250 G</li>
        <li>LAVA-ROUPAS LÍQUIDO ASSIM 5 L</li>
        <li>DETERGENTE EM PÓ TIRA MANCHAS ASSIM 400 G</li>
        <li>LAVA-ROUPAS LÍQUIDO ASSIM 500 ML</li>
        <li>AMACIANTE CONCENTRADO MON BIJOU 900 ML</li>
        <li>AMACIANTE MON BIJOU 1,7 L</li>
        <li>LAVA-ROUPAS LÍQUIDO MON BIJOU 3 L</li>
        <li>AMACIANTE PARA ROUPAS DE BEBÊ MON BIJOU 500 ML</li>
        <li>LIMPADOR PERFUMADO PRATICE 500 ML</li>
        <li>DETERGENTE LIMPOL COM GLICERINA 500 ML</li>
        <li>LIMPADOR MULTIUSO PRATICE 1 L</li>
        <li>SAPÓLIO RADIUM CREMOSO 450 ML</li>
        <li>DETERGENTE EM PÓ ASSIM 2 KG</li>
        <li>DETERGENTE EM PÓ ASSIM 5 KG</li>
        <li>Limpador Multiuso Pratice 500ml</li>
        <li>Lava Roupas em Pó Assim 800g</li>
        <li>Amaciante Mon Bijou 2L</li>
        <li>Detergente Limpol 500ml</li>
        <li>Lava Roupas Líquido Assim 3L</li>
        <li>Esponja de Lã de Aço Bombril 60g</li>
        <li>Desinfetante Pinho Bril 500ml</li>
        <li>Sapólio Radium Cremoso 250g</li>
        <li>Amaciante Mon Bijou Concentrado 500ml</li>
        <li>Lava Roupas Líquido Mon Bijou 1L</li>
        <li>Amaciante Mon Bijou 5L</li>
        <li>Detergente em Pó Assim 1kg</li>
        <li>Lava Roupas Líquido Assim 1L</li>
        <li>Lava Roupas em Pó Assim Tira Manchas 400g</li>
        <li>Lava Roupas Líquido Mon Bijou 3L</li>
        <li>Amaciante Mon Bijou 1,7L</li>
        <li>Amaciante Mon Bijou Concentrado 900ml</li>
        <li>Limpador Multiuso Pratice 1L</li>
        <li>Detergente Limpol Glicerina 500ml</li>
        <li>Sapólio Radium Cremoso 450ml</li>
        <li>Amaciante para Roupas de Bebê Mon Bijou 500ml</li>
        <li>Limpador Perfumado Pratice 500ml</li>
        <li>Lava Roupas Líquido Assim 500ml</li>
        <li>Detergente em Pó Assim 5kg</li>
        <li>Detergente em Pó Assim 2kg</li>
        <li>Lava Roupas em Pó Assim 1kg</li>
        <li>Amaciante Mon Bijou Classico 2L</li>
        <li>Detergente Limpol Maçã 500ml</li>
        <li>Lava Roupas Líquido Mon Bijou 1L</li>
        <li>Lava Roupas em Pó Assim 800g</li>
        <li>Amaciante Mon Bijou Pureza 2L</li>
        <li>Sapólio Radium Cremoso 250g</li>
        <li>Desinfetante Pinho Bril 500ml</li>
        <li>Limpador Multiuso Pratice 500ml</li>
        <li>Esponja de Lã de Aço Bombril 60g</li>
        <li>Amaciante Mon Bijou Magia 2L</li>
        <li>Amaciante Mon Bijou Turquesa 2L</li>
        <li>Amaciante Mon Bijou Glicerina e Amendoa 2L</li>
        <li>Lava Roupas Líquido Assim 3L</li>
        <li>Detergente Limpol Neutro 500ml</li>
        <li>Detergente em Pó Assim Tira Manchas 400g</li>
        <li>Lava Roupas Líquido Assim 1L</li>
        <li>Lava Roupas Líquido Assim 5L</li>
        <li>Amaciante Mon Bijou Concentrado 500ml</li>
        <li>Detergente Limpol Cristal 500ml</li>
        <li>Amaciante Mon Bijou 5L</li>
        <li>Lava Roupas Líquido Mon Bijou 3L</li>
        <li>Sapólio Radium Cremoso 450ml</li>
        <li>Limpador Multiuso Pratice 1L</li>
        <li>Detergente Limpol Glicerina 500ml</li>
        <li>Amaciante para Roupas de Bebê Mon Bijou 500ml</li>
        <li>Limpador Perfumado Pratice 500ml</li>
        <li>Lava Roupas Líquido Assim 500ml</li>
        <li>Amaciante Mon Bijou Concentrado 900ml</li>
        <li>Amaciante Mon Bijou 1,7L</li>
        <li>Detergente em Pó Assim 5kg</li>
        <li>Detergente em Pó Assim 2kg</li>
        <li>Lava Roupas em Pó Assim 400g</li>
        <li>Detergente em Pó Assim 1 kg</li>
        <li>Detergente Líquido Limpol 500 ml</li>
        <li>Amaciante Mon Bijou 2 L</li>
        <li>Esponja de Aço Bombril 60 g</li>
        <li>Desinfetante Pinho Bril 500 ml</li>
        <li>Lava Roupas em Pó Assim 800 g</li>
        <li>Sapólio Radium 250 g</li>
        <li>Limpador Multiuso Pratice 500 ml</li>
        <li>Lava Roupas Líquido Assim 3 L</li>
        <li>Lava Roupas Líquido Mon Bijou 1 L</li>
        <li>Amaciante Concentrado Mon Bijou 500 ml</li>
        <li>Lava Roupas Líquido Assim 1 L</li>
        <li>Amaciante Mon Bijou 5 L</li>
        <li>Detergente em Pó Assim Tira Manchas 400 g</li>
        <li>Lava Roupas Líquido Mon Bijou 3 L</li>
        <li>Amaciante Mon Bijou 1,7 L</li>
        <li>Amaciante Concentrado Mon Bijou 900 ml</li>
        <li>Lava Roupas Líquido Assim 500 ml</li>
        <li>Limpador Perfumado Pratice 500 ml</li>
        <li>Limpador Multiuso Pratice 1 L</li>
        <li>Detergente Limpol com Glicerina 500 ml</li>
        <li>Sapólio Radium Cremoso 450 ml</li>
        <li>Amaciante para Roupas de Bebê Mon Bijou 500 ml</li>
        <li>Detergente em Pó Assim 2 kg</li>
        <li>Detergente em Pó Assim 5 kg</li>
        <li>LAVA ROUPAS PO ASSIM 1KG</li>
        <li>DETERGENTE LIQ LIMPOL 500ML</li>
        <li>AMACIANTE MON BIJOU 2L</li>
        <li>ESPONJA DE ACO BOMBRIL 60G</li>
        <li>LAVA ROUPAS LIQ ASSIM 3L</li>
        <li>SAPOLIO RADIUM 250G</li>
        <li>DESINFETANTE PINHO BRIL 500ML</li>
        <li>LAVA ROUPAS PO ASSIM 800G</li>
      </ul>
    </div>
  </div>
  <div class="produtos-participantes-image">
    <img src="{% static 'oficial/images/Pack.png' %}" alt="Produtos Participantes Bombril">
  </div>
</section>

{% endblock %}


{% block extra_js %}
  <!-- Bootstrap 5 JS Bundle (Popper + Bootstrap) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

