{% extends "master.html" %}

{% block title %}
  Participante detalhado {{ participante.nome }} 
{% endblock %}


{% block content %}  
  <h3> {{ participante.nome }} </h3> 
  <div class="container-fluid">  
    <table class="table table-striped">

      <tr>
        <th> ID </th>
        <th> Nome </th>
        <th> Status </th>
        <th> CPF </th>
        <th> Dt. Nasc. </th>
        <th> celular </th>
        <th> E-mail </th>          
        <th> Estado </th>
        <th> Cidade </th>
        <th> CEP </th> 
        <th> Logradouro </th>
        <th> Bairro: </th>
        <th> Número: </th>
      </tr>

      <tr> 
        <td> {{ participante.id }} </td>
        <td> {{ participante.nome }} </td>
      
        {% if participante.status == '1'%}
          <td> Ativo </td>
        {% else %}
          <td> Inativo </td>
        {% endif %}
      
        <td>  {{ participante.email }}  </td>            
        <td>  {{ participante.cpf }}     </td>
        <td>  {{ participante.celular }} </td>
        <td>  {{ participante.email }}   </td>
        <td>  {{ participante.uf }}     </td>
        <td>  {{ participante.cidade }} </td>
        <td>  {{ participante.cep }}    </td>
        <td>  {{ participante.rua }}    </td>
        <td>  {{ participante.thairro }} </td>
        <td>  {{ participante.num }}     </td>
      </tr>

    </table>        
       
      
  </div>


    

{% endblock %}
